In [8]:
# Download beberapa req
!pip install lxml

Requirement already satisfied: lxml in c:\users\nramadha\appdata\local\anaconda3\envs\jupysql\lib\site-packages (5.4.0)

In [ ]:
import pandas as pd

Year with highest number of additions: 2017
Stocks in the index >20 years: 226

C:\Users\nramadha\AppData\Local\Temp\ipykernel_32960\1112618456.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp500_df['Date added'] = pd.to_datetime(sp500_df['Date added'], errors='coerce')
C:\Users\nramadha\AppData\Local\Temp\ipykernel_32960\1112618456.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp500_df['Year added'] = sp500_df['Date added'].dt.year

In [ ]:
# Load data from Wikipedia
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
tables = pd.read_html(url)
sp500_df = tables[0][['Symbol', 'Security', 'Date added']]
sp500_df

    Symbol             Security  Date added
0      MMM                   3M  1957-03-04
1      AOS          A. O. Smith  2017-07-26
2      ABT  Abbott Laboratories  1957-03-04
3     ABBV               AbbVie  2012-12-31
4      ACN            Accenture  2011-07-06
..     ...                  ...         ...
498    XYL           Xylem Inc.  2011-11-01
499    YUM          Yum! Brands  1997-10-06
500   ZBRA   Zebra Technologies  2019-12-23
501    ZBH        Zimmer Biomet  2001-08-07
502    ZTS               Zoetis  2013-06-21

[503 rows x 3 columns]

In [9]:
# Convert dates and extract year
sp500_df['Date added'] = pd.to_datetime(sp500_df['Date added'], errors='coerce')
sp500_df['Year added'] = sp500_df['Date added'].dt.year
sp500_df

C:\Users\nramadha\AppData\Local\Temp\ipykernel_32960\182313854.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp500_df['Date added'] = pd.to_datetime(sp500_df['Date added'], errors='coerce')
C:\Users\nramadha\AppData\Local\Temp\ipykernel_32960\182313854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp500_df['Year added'] = sp500_df['Date added'].dt.year

    Symbol             Security Date added  Year added
0      MMM                   3M 1957-03-04        1957
1      AOS          A. O. Smith 2017-07-26        2017
2      ABT  Abbott Laboratories 1957-03-04        1957
3     ABBV               AbbVie 2012-12-31        2012
4      ACN            Accenture 2011-07-06        2011
..     ...                  ...        ...         ...
498    XYL           Xylem Inc. 2011-11-01        2011
499    YUM          Yum! Brands 1997-10-06        1997
500   ZBRA   Zebra Technologies 2019-12-23        2019
501    ZBH        Zimmer Biomet 2001-08-07        2001
502    ZTS               Zoetis 2013-06-21        2013

[503 rows x 4 columns]

In [13]:

# Exclude 1957 (index founding year)
stocks_per_year = sp500_df[sp500_df['Year added'] != 1957]['Year added'].value_counts()
stocks_per_year

Year added
2017    23
2016    23
2019    22
2008    17
2024    16
2022    16
2021    15
2023    15
2018    14
2015    14
1997    14
2012    14
2002    13
2007    12
2020    12
2009    12
1976    11
1998    11
2006    10
2011    10
2013    10
2010     9
1999     9
2000     9
2001     8
2014     8
1985     7
1994     7
1995     7
2005     7
2004     6
1989     5
2025     5
1982     5
2003     5
1984     5
1988     4
1993     3
1980     3
1992     3
1986     3
1983     3
1981     3
1996     2
1973     2
1987     2
1972     2
1969     2
1979     2
1965     2
1975     2
1970     2
1991     1
1974     1
1964     1
1978     1
Name: count, dtype: int64

In [14]:

highest_year = stocks_per_year.idxmax()
highest_year

np.int32(2017)

In [15]:

# Calculate number of stocks added more than 20 years ago
current_year = pd.Timestamp.now().year
stocks_20_years = sp500_df[sp500_df['Year added'] <= (current_year - 20)].shape[0]

print("Year with highest number of additions:", highest_year)
print("Stocks in the index >20 years:", stocks_20_years)

Year with highest number of additions: 2017
Stocks in the index >20 years: 226

In [ ]:
# No 2

import yfinance as yf
import pandas as pd

# Index symbols

indices = {
'United States (S&P 500)': '^GSPC',
'China (Shanghai Composite)': '000001.SS',
'Hong Kong (Hang Seng)': '^HSI',
'Australia (S&P/ASX 200)': '^AXJO',
'India (Nifty 50)': '^NSEI',
'Canada (S&P/TSX)': '^GSPTSE',
'Germany (DAX)': '^GDAXI',
'United Kingdom (FTSE 100)': '^FTSE',
'Japan (Nikkei 225)': '^N225',
'Mexico (IPC Mexico)': '^MXX',
'Brazil (Ibovespa)': '^BVSP'
}

# Date range

start_date = '2025-01-01'
end_date = '2025-05-01'

# Download data

data = yf.download(list(indices.values()), start=start_date, end=end_date)['Adj Close']

# Calculate YTD returns

ytd_returns = (data.iloc[-1] / data.iloc[0] - 1) \* 100

# Create DataFrame with results

results = pd.DataFrame({
'Index': indices.keys(),
'Symbol': indices.values(),
'YTD Return (%)': ytd_returns.values
})

# Rank by YTD return

results = results.sort_values(by='YTD Return (%)', ascending=False)

# Check how many outperform the US (S&P 500)

us_return = results.loc[results['Symbol'] == '^GSPC', 'YTD Return (%)'].values[0]
outperform_us = results[results['YTD Return (%)'] > us_return].shape[0]

print(results)
print("\nNumber of indices outperforming the US (S&P 500):", outperform_us)