In [19]:
# Download beberapa req
!uv pip install lxml yfinance

Using Python 3.13.3 environment at: C:\Users\nramadha\AppData\Local\anaconda3\envs\jupysql
Resolved 25 packages in 5.40s
   Building peewee==3.18.1
Downloading curl-cffi (1.4MiB)
 Downloading curl-cffi
      Built peewee==3.18.1
Prepared 7 packages in 3.13s
Installed 7 packages in 54ms
 + curl-cffi==0.11.1
 + frozendict==2.4.6
 + multitasking==0.0.11
 + peewee==3.18.1
 + protobuf==6.31.1
 + websockets==15.0.1
 + yfinance==0.2.61

In [ ]:
import pandas as pd

Year with highest number of additions: 2017
Stocks in the index >20 years: 226

C:\Users\nramadha\AppData\Local\Temp\ipykernel_32960\1112618456.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp500_df['Date added'] = pd.to_datetime(sp500_df['Date added'], errors='coerce')
C:\Users\nramadha\AppData\Local\Temp\ipykernel_32960\1112618456.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp500_df['Year added'] = sp500_df['Date added'].dt.year

In [ ]:
# Load data from Wikipedia
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
tables = pd.read_html(url)
sp500_df = tables[0][['Symbol', 'Security', 'Date added']]
sp500_df

    Symbol             Security  Date added
0      MMM                   3M  1957-03-04
1      AOS          A. O. Smith  2017-07-26
2      ABT  Abbott Laboratories  1957-03-04
3     ABBV               AbbVie  2012-12-31
4      ACN            Accenture  2011-07-06
..     ...                  ...         ...
498    XYL           Xylem Inc.  2011-11-01
499    YUM          Yum! Brands  1997-10-06
500   ZBRA   Zebra Technologies  2019-12-23
501    ZBH        Zimmer Biomet  2001-08-07
502    ZTS               Zoetis  2013-06-21

[503 rows x 3 columns]

In [9]:
# Convert dates and extract year
sp500_df['Date added'] = pd.to_datetime(sp500_df['Date added'], errors='coerce')
sp500_df['Year added'] = sp500_df['Date added'].dt.year
sp500_df

C:\Users\nramadha\AppData\Local\Temp\ipykernel_32960\182313854.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp500_df['Date added'] = pd.to_datetime(sp500_df['Date added'], errors='coerce')
C:\Users\nramadha\AppData\Local\Temp\ipykernel_32960\182313854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp500_df['Year added'] = sp500_df['Date added'].dt.year

    Symbol             Security Date added  Year added
0      MMM                   3M 1957-03-04        1957
1      AOS          A. O. Smith 2017-07-26        2017
2      ABT  Abbott Laboratories 1957-03-04        1957
3     ABBV               AbbVie 2012-12-31        2012
4      ACN            Accenture 2011-07-06        2011
..     ...                  ...        ...         ...
498    XYL           Xylem Inc. 2011-11-01        2011
499    YUM          Yum! Brands 1997-10-06        1997
500   ZBRA   Zebra Technologies 2019-12-23        2019
501    ZBH        Zimmer Biomet 2001-08-07        2001
502    ZTS               Zoetis 2013-06-21        2013

[503 rows x 4 columns]

In [13]:

# Exclude 1957 (index founding year)
stocks_per_year = sp500_df[sp500_df['Year added'] != 1957]['Year added'].value_counts()
stocks_per_year

Year added
2017    23
2016    23
2019    22
2008    17
2024    16
2022    16
2021    15
2023    15
2018    14
2015    14
1997    14
2012    14
2002    13
2007    12
2020    12
2009    12
1976    11
1998    11
2006    10
2011    10
2013    10
2010     9
1999     9
2000     9
2001     8
2014     8
1985     7
1994     7
1995     7
2005     7
2004     6
1989     5
2025     5
1982     5
2003     5
1984     5
1988     4
1993     3
1980     3
1992     3
1986     3
1983     3
1981     3
1996     2
1973     2
1987     2
1972     2
1969     2
1979     2
1965     2
1975     2
1970     2
1991     1
1974     1
1964     1
1978     1
Name: count, dtype: int64

In [16]:

highest_year = stocks_per_year.idxmax()
highest_year

np.int32(2017)

In [15]:

# Calculate number of stocks added more than 20 years ago
current_year = pd.Timestamp.now().year
stocks_20_years = sp500_df[sp500_df['Year added'] <= (current_year - 20)].shape[0]

print("Year with highest number of additions:", highest_year)
print("Stocks in the index >20 years:", stocks_20_years)

Year with highest number of additions: 2017
Stocks in the index >20 years: 226

In [ ]:
# No 2

In [2]:
import yfinance as yf
import pandas as pd

In [39]:
# Index symbols (adding indonesia for bonus)
indices = {
'United States (S&P 500)': '^GSPC',
'China (Shanghai Composite)': '000001.SS',
'Hong Kong (Hang Seng)': '^HSI',
'Australia (S&P/ASX 200)': '^AXJO',
'India (Nifty 50)': '^NSEI',
'Canada (S&P/TSX)': '^GSPTSE',
'Germany (DAX)': '^GDAXI',
'United Kingdom (FTSE 100)': '^FTSE',
'Japan (Nikkei 225)': '^N225',
'Mexico (IPC Mexico)': '^MXX',
'Brazil (Ibovespa)': '^BVSP',
'Indonesia (JKSE)': '^JKSE'    }

In [42]:
# Date range
start_date = '2025-01-01'
end_date = '2025-05-02' # Adjusted to include 1 may 2025
ytd_returns = {}

In [62]:
# Helper to compute returns between two dates
def price_return(series):
    """Percent return from first to last non‑NaN in the series."""
    first = series.loc[series.first_valid_index()]
    last = series.loc[series.last_valid_index()]
    return (last / first - 1) * 100
# --------------------- DOWNLOAD DAILY DATA ---------------------
all_data = yf.download(list(indices.values()), start='2014-05-01', end=end_date,
                       auto_adjust=True, progress=False)['Close'].ffill().bfill()
returns = {}

In [63]:
for label, ticker in indices.items():
    s = all_data[ticker]

    # YTD (1 Jan – 1 May 2025)
    ytd_slice = s.loc[start_date:'2025-05-01']
    returns.setdefault('YTD %', {})[label] = price_return(ytd_slice)

    # 3‑year (1 May 2022 – 1 May 2025)
    returns.setdefault('3y %', {})[label] = price_return(s.loc['2022-05-01':'2025-05-01'])

    # 5‑year (1 May 2020 – 1 May 2025)
    returns.setdefault('5y %', {})[label] = price_return(s.loc['2020-05-01':'2025-05-01'])

    # 10‑year (1 May 2015 – 1 May 2025)
    returns.setdefault('10y %', {})[label] = price_return(s.loc['2015-05-01':'2025-05-01'])

# --------------------- BUILD SUMMARY TABLE ---------------------
summary_df = (
    pd.DataFrame(returns)
      .round(2)
      .sort_values('YTD %', ascending=False)
)

# Count how many beat the S&P 500
sp_ytd = summary_df.loc['United States (S&P 500)', 'YTD %']
beat_ytd = (summary_df['YTD %'] > sp_ytd).sum()

beat_3y = (summary_df['3y %'] > summary_df.loc['United States (S&P 500)', '3y %']).sum()
beat_5y = (summary_df['5y %'] > summary_df.loc['United States (S&P 500)', '5y %']).sum()
beat_10y = (summary_df['10y %'] > summary_df.loc['United States (S&P 500)', '10y %']).sum()

print("Summary Returns (%):\n", summary_df, "\n")
print(f"Indices beating S&P 500 — YTD: {beat_ytd}, 3y: {beat_3y}, 5y: {beat_5y}, 10y: {beat_10y}")

Summary Returns (%):
                             YTD %   3y %    5y %   10y %
Mexico (IPC Mexico)         13.62   8.43   54.26   26.19
Germany (DAX)               13.00  61.40  107.12   96.41
Brazil (Ibovespa)           12.29  26.66   67.77  140.21
Hong Kong (Hang Seng)       10.27   4.88  -10.24  -21.38
United Kingdom (FTSE 100)    3.96  12.62   47.43   21.63
India (Nifty 50)             2.49  42.56  146.80  197.43
Canada (S&P/TSX)             0.27  19.83   69.60   61.64
Australia (S&P/ASX 200)     -0.17  10.87   55.28   40.09
China (Shanghai Composite)  -2.17   7.61   14.65  -26.18
Indonesia (JKSE)            -4.42  -6.39   43.47   33.04
United States (S&P 500)     -4.72  34.86   97.98  165.81
Japan (Nikkei 225)          -8.63  35.92   85.80   86.63

Indices beating S&P 500 — YTD: 10, 3y: 3, 5y: 2, 10y: 1

In [ ]:
# question 3
# Download S&P 500 historical data (1950-present) using yfinance
import yfinance as yf
import pandas as pd
import numpy as np
from datetime import datetime

# Download S&P 500 historical data from 1950 to present
sp500 = yf.download('^GSPC', start='1950-01-01', end='2025-06-02')

# Clean and prepare the data
df = sp500.copy()
df = df.droplevel(1, axis=1)  # Remove ticker level from columns
df

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open      Volume
Date
1950-01-03    16.660000    16.660000    16.660000    16.660000     1260000
1950-01-04    16.850000    16.850000    16.850000    16.850000     1890000
1950-01-05    16.930000    16.930000    16.930000    16.930000     2550000
1950-01-06    16.980000    16.980000    16.980000    16.980000     2010000
1950-01-09    17.080000    17.080000    17.080000    17.080000     2520000
...                 ...          ...          ...          ...         ...
2025-05-23  5802.819824  5829.509766  5767.410156  5781.890137  4662820000
2025-05-27  5921.540039  5924.330078  5854.069824  5854.069824  5366380000
2025-05-28  5888.549805  5939.919922  5881.879883  5925.540039  4665050000
2025-05-29  5912.169922  5943.129883  5873.799805  5939.959961  4569750000
2025-05-30  5911.689941  5922.140137  5843.660156  5903.669922  6378540000

[18973 rows x 5 columns]

In [ ]:

# Identify all-time high points (where price exceeds all previous prices)
# Calculate all-time highs using expanding maximum (replace kalau sebelumnya maksimum)
df['All_Time_High'] = df['Close'].expanding().max()
df

Price,Close,High,Low,Open,Volume,All_Time_High
Date,,,,,,
1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000,16.660000
1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000,16.850000
1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000,16.930000
1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000,16.980000
1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000,17.080000
...,...,...,...,...,...,...
2025-05-23,5802.819824,5829.509766,5767.410156,5781.890137,4662820000,6144.149902
2025-05-27,5921.540039,5924.330078,5854.069824,5854.069824,5366380000,6144.149902
2025-05-28,5888.549805,5939.919922,5881.879883,5925.540039,4665050000,6144.149902
2025-05-29,5912.169922,5943.129883,5873.799805,5939.959961,4569750000,6144.149902
2025-05-30,5911.689941,5922.140137,5843.660156,5903.669922,6378540000,6144.149902

In [70]:
df['ATH_Change'] = df['All_Time_High'].diff() > 0
df

Price,Close,High,Low,Open,Volume,All_Time_High,ATH_Change
Date,,,,,,,
1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000,16.660000,False
1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000,16.850000,True
1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000,16.930000,True
1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000,16.980000,True
1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000,17.080000,True
...,...,...,...,...,...,...,...
2025-05-23,5802.819824,5829.509766,5767.410156,5781.890137,4662820000,6144.149902,False
2025-05-27,5921.540039,5924.330078,5854.069824,5854.069824,5366380000,6144.149902,False
2025-05-28,5888.549805,5939.919922,5881.879883,5925.540039,4665050000,6144.149902,False
2025-05-29,5912.169922,5943.129883,5873.799805,5939.959961,4569750000,6144.149902,False
2025-05-30,5911.689941,5922.140137,5843.660156,5903.669922,6378540000,6144.149902,False

In [72]:

# Find dates where new all-time highs are achieved
new_ath_dates = df[df['ATH_Change']].index.tolist()
new_ath_dates

[Timestamp('1950-01-04 00:00:00'),
 Timestamp('1950-01-05 00:00:00'),
 Timestamp('1950-01-06 00:00:00'),
 Timestamp('1950-01-09 00:00:00'),
 Timestamp('1950-01-11 00:00:00'),
 Timestamp('1950-02-02 00:00:00'),
 Timestamp('1950-02-03 00:00:00'),
 Timestamp('1950-02-06 00:00:00'),
 Timestamp('1950-03-15 00:00:00'),
 Timestamp('1950-03-16 00:00:00'),
 Timestamp('1950-03-22 00:00:00'),
 Timestamp('1950-03-23 00:00:00'),
 Timestamp('1950-04-05 00:00:00'),
 Timestamp('1950-04-06 00:00:00'),
 Timestamp('1950-04-10 00:00:00'),
 Timestamp('1950-04-12 00:00:00'),
 Timestamp('1950-04-13 00:00:00'),
 Timestamp('1950-04-18 00:00:00'),
 Timestamp('1950-04-19 00:00:00'),
 Timestamp('1950-05-01 00:00:00'),
 Timestamp('1950-05-03 00:00:00'),
 Timestamp('1950-05-10 00:00:00'),
 Timestamp('1950-05-16 00:00:00'),
 Timestamp('1950-05-17 00:00:00'),
 Timestamp('1950-05-18 00:00:00'),
 Timestamp('1950-05-19 00:00:00'),
 Timestamp('1950-05-23 00:00:00'),
 Timestamp('1950-05-29 00:00:00'),
 Timestamp('1950-05-31 00:00:00'),
 Timestamp('1950-06-02 00:00:00'),
 Timestamp('1950-06-06 00:00:00'),
 Timestamp('1950-06-07 00:00:00'),
 Timestamp('1950-06-08 00:00:00'),
 Timestamp('1950-06-09 00:00:00'),
 Timestamp('1950-06-12 00:00:00'),
 Timestamp('1950-09-22 00:00:00'),
 Timestamp('1950-09-29 00:00:00'),
 Timestamp('1950-10-02 00:00:00'),
 Timestamp('1950-10-04 00:00:00'),
 Timestamp('1950-10-06 00:00:00'),
 Timestamp('1950-11-22 00:00:00'),
 Timestamp('1950-11-24 00:00:00'),
 Timestamp('1950-12-28 00:00:00'),
 Timestamp('1950-12-29 00:00:00'),
 Timestamp('1951-01-02 00:00:00'),
 Timestamp('1951-01-04 00:00:00'),
 Timestamp('1951-01-08 00:00:00'),
 Timestamp('1951-01-09 00:00:00'),
 Timestamp('1951-01-11 00:00:00'),
 Timestamp('1951-01-15 00:00:00'),
 Timestamp('1951-01-16 00:00:00'),
 Timestamp('1951-01-17 00:00:00'),
 Timestamp('1951-01-29 00:00:00'),
 Timestamp('1951-01-30 00:00:00'),
 Timestamp('1951-02-01 00:00:00'),
 Timestamp('1951-02-02 00:00:00'),
 Timestamp('1951-02-05 00:00:00'),
 Timestamp('1951-04-27 00:00:00'),
 Timestamp('1951-04-30 00:00:00'),
 Timestamp('1951-05-01 00:00:00'),
 Timestamp('1951-05-02 00:00:00'),
 Timestamp('1951-05-03 00:00:00'),
 Timestamp('1951-08-02 00:00:00'),
 Timestamp('1951-08-03 00:00:00'),
 Timestamp('1951-08-06 00:00:00'),
 Timestamp('1951-08-07 00:00:00'),
 Timestamp('1951-08-29 00:00:00'),
 Timestamp('1951-08-30 00:00:00'),
 Timestamp('1951-08-31 00:00:00'),
 Timestamp('1951-09-05 00:00:00'),
 Timestamp('1951-09-06 00:00:00'),
 Timestamp('1951-09-07 00:00:00'),
 Timestamp('1951-09-10 00:00:00'),
 Timestamp('1951-09-13 00:00:00'),
 Timestamp('1951-10-03 00:00:00'),
 Timestamp('1951-10-15 00:00:00'),
 Timestamp('1952-01-03 00:00:00'),
 Timestamp('1952-01-04 00:00:00'),
 Timestamp('1952-01-11 00:00:00'),
 Timestamp('1952-01-14 00:00:00'),
 Timestamp('1952-01-17 00:00:00'),
 Timestamp('1952-01-18 00:00:00'),
 Timestamp('1952-01-21 00:00:00'),
 Timestamp('1952-01-22 00:00:00'),
 Timestamp('1952-06-26 00:00:00'),
 Timestamp('1952-06-27 00:00:00'),
 Timestamp('1952-06-30 00:00:00'),
 Timestamp('1952-07-01 00:00:00'),
 Timestamp('1952-07-15 00:00:00'),
 Timestamp('1952-07-24 00:00:00'),
 Timestamp('1952-07-29 00:00:00'),
 Timestamp('1952-07-30 00:00:00'),
 Timestamp('1952-07-31 00:00:00'),
 Timestamp('1952-08-01 00:00:00'),
 Timestamp('1952-08-05 00:00:00'),
 Timestamp('1952-08-07 00:00:00'),
 Timestamp('1952-08-08 00:00:00'),
 Timestamp('1952-11-28 00:00:00'),
 Timestamp('1952-12-01 00:00:00'),
 Timestamp('1952-12-02 00:00:00'),
 Timestamp('1952-12-08 00:00:00'),
 Timestamp('1952-12-09 00:00:00'),
 Timestamp('1952-12-10 00:00:00'),
 Timestamp('1952-12-12 00:00:00'),
 Timestamp('1952-12-16 00:00:00'),
 Timestamp('1952-12-19 00:00:00'),
 Timestamp('1952-12-22 00:00:00'),
 Timestamp('1952-12-29 00:00:00'),
 Timestamp('1952-12-30 00:00:00'),
 Timestamp('1953-01-05 00:00:00'),
 Timestamp('1954-03-11 00:00:00'),
 Timestamp('1954-03-18 00:00:00'),
 Timestamp('1954-03-19 00:00:00'),
 Timestamp('1954-03-31 00:00:00'),
 Timestamp('1954-04-01 00:00:00'),
 Timestamp('1954-04-02 00:00:00'),
 Timestamp('1954-04-05 00:00:00'),
 Timestamp('1954-04-08 00:00:00'),
 Timestamp('1954-04-12 00:00:00'),
 Timestamp('1954-04-13 00:00:00'),
 Timestamp('1954-04-14 00:00:00'),
 Timestamp('1954-04-15 00:00:00'),
 Timestamp('1954-04-29 00:00:00'),
 Timestamp('1954-04-30 00:00:00'),
 Timestamp('1954-05-04 00:00:00'),
 Timestamp('1954-05-05 00:00:00'),
 Timestamp('1954-05-06 00:00:00'),
 Timestamp('1954-05-07 00:00:00'),
 Timestamp('1954-05-12 00:00:00'),
 Timestamp('1954-05-14 00:00:00'),
 Timestamp('1954-05-17 00:00:00'),
 Timestamp('1954-05-18 00:00:00'),
 Timestamp('1954-05-21 00:00:00'),
 Timestamp('1954-05-24 00:00:00'),
 Timestamp('1954-05-26 00:00:00'),
 Timestamp('1954-05-28 00:00:00'),
 Timestamp('1954-06-24 00:00:00'),
 Timestamp('1954-06-28 00:00:00'),
 Timestamp('1954-06-29 00:00:00'),
 Timestamp('1954-07-02 00:00:00'),
 Timestamp('1954-07-06 00:00:00'),
 Timestamp('1954-07-07 00:00:00'),
 Timestamp('1954-07-09 00:00:00'),
 Timestamp('1954-07-15 00:00:00'),
 Timestamp('1954-07-22 00:00:00'),
 Timestamp('1954-07-23 00:00:00'),
 Timestamp('1954-07-26 00:00:00'),
 Timestamp('1954-07-27 00:00:00'),
 Timestamp('1954-07-28 00:00:00'),
 Timestamp('1954-07-29 00:00:00'),
 Timestamp('1954-07-30 00:00:00'),
 Timestamp('1954-08-02 00:00:00'),
 Timestamp('1954-08-16 00:00:00'),
 Timestamp('1954-08-17 00:00:00'),
 Timestamp('1954-08-19 00:00:00'),
 Timestamp('1954-08-20 00:00:00'),
 Timestamp('1954-09-14 00:00:00'),
 Timestamp('1954-09-15 00:00:00'),
 Timestamp('1954-09-16 00:00:00'),
 Timestamp('1954-09-17 00:00:00'),
 Timestamp('1954-09-21 00:00:00'),
 Timestamp('1954-09-22 00:00:00'),
 Timestamp('1954-09-23 00:00:00'),
 Timestamp('1954-09-24 00:00:00'),
 Timestamp('1954-09-27 00:00:00'),
 Timestamp('1954-09-28 00:00:00'),
 Timestamp('1954-10-06 00:00:00'),
 Timestamp('1954-11-04 00:00:00'),
 Timestamp('1954-11-08 00:00:00'),
 Timestamp('1954-11-09 00:00:00'),
 Timestamp('1954-11-10 00:00:00'),
 Timestamp('1954-11-11 00:00:00'),
 Timestamp('1954-11-12 00:00:00'),
 Timestamp('1954-11-16 00:00:00'),
 Timestamp('1954-11-17 00:00:00'),
 Timestamp('1954-11-23 00:00:00'),
 Timestamp('1954-11-24 00:00:00'),
 Timestamp('1954-11-26 00:00:00'),
 Timestamp('1954-12-06 00:00:00'),
 Timestamp('1954-12-07 00:00:00'),
 Timestamp('1954-12-16 00:00:00'),
 Timestamp('1954-12-17 00:00:00'),
 Timestamp('1954-12-31 00:00:00'),
 Timestamp('1955-01-03 00:00:00'),
 Timestamp('1955-02-04 00:00:00'),
 Timestamp('1955-02-10 00:00:00'),
 Timestamp('1955-02-11 00:00:00'),
 Timestamp('1955-03-03 00:00:00'),
 Timestamp('1955-03-04 00:00:00'),
 Timestamp('1955-04-12 00:00:00'),
 Timestamp('1955-04-13 00:00:00'),
 Timestamp('1955-04-14 00:00:00'),
 Timestamp('1955-04-15 00:00:00'),
 Timestamp('1955-04-18 00:00:00'),
 Timestamp('1955-04-20 00:00:00'),
 Timestamp('1955-04-21 00:00:00'),
 Timestamp('1955-06-03 00:00:00'),
 Timestamp('1955-06-06 00:00:00'),
 Timestamp('1955-06-07 00:00:00'),
 Timestamp('1955-06-17 00:00:00'),
 Timestamp('1955-06-20 00:00:00'),
 Timestamp('1955-06-21 00:00:00'),
 Timestamp('1955-06-22 00:00:00'),
 Timestamp('1955-06-23 00:00:00'),
 Timestamp('1955-06-24 00:00:00'),
 Timestamp('1955-06-27 00:00:00'),
 Timestamp('1955-06-30 00:00:00'),
 Timestamp('1955-07-01 00:00:00'),
 Timestamp('1955-07-05 00:00:00'),
 Timestamp('1955-07-06 00:00:00'),
 Timestamp('1955-07-25 00:00:00'),
 Timestamp('1955-07-26 00:00:00'),
 Timestamp('1955-07-27 00:00:00'),
 Timestamp('1955-09-06 00:00:00'),
 Timestamp('1955-09-08 00:00:00'),
 Timestamp('1955-09-09 00:00:00'),
 Timestamp('1955-09-12 00:00:00'),
 Timestamp('1955-09-13 00:00:00'),
 Timestamp('1955-09-14 00:00:00'),
 Timestamp('1955-09-16 00:00:00'),
 Timestamp('1955-09-19 00:00:00'),
 Timestamp('1955-09-21 00:00:00'),
 Timestamp('1955-09-23 00:00:00'),
 Timestamp('1955-11-14 00:00:00'),
 Timestamp('1956-03-09 00:00:00'),
 Timestamp('1956-03-12 00:00:00'),
 Timestamp('1956-03-14 00:00:00'),
 Timestamp('1956-03-15 00:00:00'),
 Timestamp('1956-03-16 00:00:00'),
 Timestamp('1956-03-19 00:00:00'),
 Timestamp('1956-03-20 00:00:00'),
 Timestamp('1956-07-16 00:00:00'),
 Timestamp('1956-07-17 00:00:00'),
 Timestamp('1956-07-19 00:00:00'),
 Timestamp('1956-07-20 00:00:00'),
 Timestamp('1956-07-25 00:00:00'),
 Timestamp('1956-07-26 00:00:00'),
 Timestamp('1956-08-01 00:00:00'),
 Timestamp('1956-08-02 00:00:00'),
 Timestamp('1958-09-24 00:00:00'),
 Timestamp('1958-09-29 00:00:00'),
 Timestamp('1958-09-30 00:00:00'),
 Timestamp('1958-10-02 00:00:00'),
 Timestamp('1958-10-03 00:00:00'),
 Timestamp('1958-10-06 00:00:00'),
 Timestamp('1958-10-10 00:00:00'),
 Timestamp('1958-10-13 00:00:00'),
 Timestamp('1958-11-05 00:00:00'),
 Timestamp('1958-11-06 00:00:00'),
 Timestamp('1958-11-10 00:00:00'),
 Timestamp('1958-11-11 00:00:00'),
 Timestamp('1958-11-12 00:00:00'),
 Timestamp('1958-11-14 00:00:00'),
 Timestamp('1958-11-17 00:00:00'),
 Timestamp('1958-12-10 00:00:00'),
 Timestamp('1958-12-16 00:00:00'),
 Timestamp('1958-12-17 00:00:00'),
 Timestamp('1958-12-18 00:00:00'),
 Timestamp('1958-12-29 00:00:00'),
 Timestamp('1958-12-30 00:00:00'),
 Timestamp('1958-12-31 00:00:00'),
 Timestamp('1959-01-02 00:00:00'),
 Timestamp('1959-01-05 00:00:00'),
 Timestamp('1959-01-09 00:00:00'),
 Timestamp('1959-01-12 00:00:00'),
 Timestamp('1959-01-15 00:00:00'),
 Timestamp('1959-01-21 00:00:00'),
 Timestamp('1959-03-03 00:00:00'),
 Timestamp('1959-03-04 00:00:00'),
 Timestamp('1959-03-05 00:00:00'),
 Timestamp('1959-03-12 00:00:00'),
 Timestamp('1959-03-13 00:00:00'),
 Timestamp('1959-04-14 00:00:00'),
 Timestamp('1959-04-15 00:00:00'),
 Timestamp('1959-04-16 00:00:00'),
 Timestamp('1959-04-17 00:00:00'),
 Timestamp('1959-04-20 00:00:00'),
 Timestamp('1959-05-14 00:00:00'),
 Timestamp('1959-05-28 00:00:00'),
 Timestamp('1959-05-29 00:00:00'),
 Timestamp('1959-07-01 00:00:00'),
 Timestamp('1959-07-02 00:00:00'),
 Timestamp('1959-07-06 00:00:00'),
 Timestamp('1959-07-07 00:00:00'),
 Timestamp('1959-07-08 00:00:00'),
 Timestamp('1959-07-28 00:00:00'),
 Timestamp('1959-07-29 00:00:00'),
 Timestamp('1959-08-03 00:00:00'),
 Timestamp('1961-01-27 00:00:00'),
 Timestamp('1961-01-30 00:00:00'),
 Timestamp('1961-02-02 00:00:00'),
 Timestamp('1961-02-20 00:00:00'),
 Timestamp('1961-02-21 00:00:00'),
 Timestamp('1961-02-23 00:00:00'),
 Timestamp('1961-02-24 00:00:00'),
 Timestamp('1961-02-27 00:00:00'),
 Timestamp('1961-02-28 00:00:00'),
 Timestamp('1961-03-02 00:00:00'),
 Timestamp('1961-03-03 00:00:00'),
 Timestamp('1961-03-06 00:00:00'),
 Timestamp('1961-03-16 00:00:00'),
 Timestamp('1961-03-20 00:00:00'),
 Timestamp('1961-03-29 00:00:00'),
 Timestamp('1961-03-30 00:00:00'),
 Timestamp('1961-04-03 00:00:00'),
 Timestamp('1961-04-04 00:00:00'),
 Timestamp('1961-04-07 00:00:00'),
 Timestamp('1961-04-10 00:00:00'),
 Timestamp('1961-04-11 00:00:00'),
 Timestamp('1961-04-17 00:00:00'),
 Timestamp('1961-11-01 00:00:00'),
 Timestamp('1961-11-02 00:00:00'),
 Timestamp('1961-11-03 00:00:00'),
 Timestamp('1961-11-06 00:00:00'),
 Timestamp('1961-11-08 00:00:00'),
 Timestamp('1961-11-10 00:00:00'),
 Timestamp('1961-11-13 00:00:00'),
 Timestamp('1961-11-14 00:00:00'),
 Timestamp('1961-11-15 00:00:00'),
 Timestamp('1961-11-20 00:00:00'),
 Timestamp('1961-11-21 00:00:00'),
 Timestamp('1961-11-24 00:00:00'),
 Timestamp('1961-11-27 00:00:00'),
 Timestamp('1961-12-04 00:00:00'),
 Timestamp('1961-12-08 00:00:00'),
 Timestamp('1961-12-11 00:00:00'),
 Timestamp('1961-12-12 00:00:00'),
 Timestamp('1963-09-03 00:00:00'),
 Timestamp('1963-09-05 00:00:00'),
 Timestamp('1963-09-11 00:00:00'),
 Timestamp('1963-09-19 00:00:00'),
 Timestamp('1963-09-20 00:00:00'),
 Timestamp('1963-10-18 00:00:00'),
 Timestamp('1963-10-21 00:00:00'),
 Timestamp('1963-10-25 00:00:00'),
 Timestamp('1963-10-28 00:00:00'),
 Timestamp('1963-12-17 00:00:00'),
 Timestamp('1963-12-31 00:00:00'),
 Timestamp('1964-01-02 00:00:00'),
 Timestamp('1964-01-03 00:00:00'),
 Timestamp('1964-01-06 00:00:00'),
 Timestamp('1964-01-07 00:00:00'),
 Timestamp('1964-01-08 00:00:00'),
 Timestamp('1964-01-09 00:00:00'),
 Timestamp('1964-01-14 00:00:00'),
 Timestamp('1964-01-15 00:00:00'),
 Timestamp('1964-01-22 00:00:00'),
 Timestamp('1964-01-23 00:00:00'),
 Timestamp('1964-01-24 00:00:00'),
 Timestamp('1964-02-07 00:00:00'),
 Timestamp('1964-02-11 00:00:00'),
 Timestamp('1964-02-12 00:00:00'),
 Timestamp('1964-02-20 00:00:00'),
 Timestamp('1964-02-24 00:00:00'),
 Timestamp('1964-02-26 00:00:00'),
 Timestamp('1964-03-02 00:00:00'),
 Timestamp('1964-03-03 00:00:00'),
 Timestamp('1964-03-06 00:00:00'),
 Timestamp('1964-03-09 00:00:00'),
 Timestamp('1964-03-10 00:00:00'),
 Timestamp('1964-03-11 00:00:00'),
 Timestamp('1964-03-12 00:00:00'),
 Timestamp('1964-03-13 00:00:00'),
 Timestamp('1964-03-17 00:00:00'),
 Timestamp('1964-03-18 00:00:00'),
 Timestamp('1964-04-02 00:00:00'),
 Timestamp('1964-04-03 00:00:00'),
 Timestamp('1964-04-06 00:00:00'),
 Timestamp('1964-04-15 00:00:00'),
 Timestamp('1964-04-16 00:00:00'),
 Timestamp('1964-04-17 00:00:00'),
 Timestamp('1964-05-05 00:00:00'),
 Timestamp('1964-05-06 00:00:00'),
 Timestamp('1964-05-07 00:00:00'),
 Timestamp('1964-05-12 00:00:00'),
 Timestamp('1964-06-25 00:00:00'),
 Timestamp('1964-06-26 00:00:00'),
 Timestamp('1964-06-29 00:00:00'),
 Timestamp('1964-06-30 00:00:00'),
 Timestamp('1964-07-01 00:00:00'),
 Timestamp('1964-07-02 00:00:00'),
 Timestamp('1964-07-06 00:00:00'),
 Timestamp('1964-07-07 00:00:00'),
 Timestamp('1964-07-09 00:00:00'),
 Timestamp('1964-07-10 00:00:00'),
 Timestamp('1964-07-16 00:00:00'),
 Timestamp('1964-07-17 00:00:00'),
 Timestamp('1964-09-25 00:00:00'),
 Timestamp('1964-09-28 00:00:00'),
 Timestamp('1964-10-02 00:00:00'),
 Timestamp('1964-10-05 00:00:00'),
 Timestamp('1964-10-06 00:00:00'),
 Timestamp('1964-10-07 00:00:00'),
 Timestamp('1964-10-08 00:00:00'),
 Timestamp('1964-10-09 00:00:00'),
 Timestamp('1964-10-12 00:00:00'),
 Timestamp('1964-11-16 00:00:00'),
 Timestamp('1964-11-17 00:00:00'),
 Timestamp('1964-11-18 00:00:00'),
 Timestamp('1964-11-20 00:00:00'),
 Timestamp('1965-01-18 00:00:00'),
 Timestamp('1965-01-19 00:00:00'),
 Timestamp('1965-01-22 00:00:00'),
 Timestamp('1965-01-25 00:00:00'),
 Timestamp('1965-01-26 00:00:00'),
 Timestamp('1965-01-27 00:00:00'),
 Timestamp('1965-01-28 00:00:00'),
 Timestamp('1965-01-29 00:00:00'),
 Timestamp('1965-02-01 00:00:00'),
 Timestamp('1965-02-03 00:00:00'),
 Timestamp('1965-04-12 00:00:00'),
 Timestamp('1965-04-13 00:00:00'),
 Timestamp('1965-04-14 00:00:00'),
 Timestamp('1965-04-19 00:00:00'),
 Timestamp('1965-04-22 00:00:00'),
 Timestamp('1965-04-23 00:00:00'),
 Timestamp('1965-04-26 00:00:00'),
 Timestamp('1965-04-27 00:00:00'),
 Timestamp('1965-04-30 00:00:00'),
 Timestamp('1965-05-03 00:00:00'),
 Timestamp('1965-05-04 00:00:00'),
 Timestamp('1965-05-05 00:00:00'),
 Timestamp('1965-05-06 00:00:00'),
 Timestamp('1965-05-12 00:00:00'),
 Timestamp('1965-05-13 00:00:00'),
 Timestamp('1965-09-27 00:00:00'),
 Timestamp('1965-10-08 00:00:00'),
 Timestamp('1965-10-11 00:00:00'),
 Timestamp('1965-10-15 00:00:00'),
 Timestamp('1965-10-18 00:00:00'),
 Timestamp('1965-10-19 00:00:00'),
 Timestamp('1965-10-21 00:00:00'),
 Timestamp('1965-10-22 00:00:00'),
 Timestamp('1965-10-26 00:00:00'),
 Timestamp('1965-10-27 00:00:00'),
 Timestamp('1965-11-12 00:00:00'),
 Timestamp('1965-11-15 00:00:00'),
 Timestamp('1966-01-05 00:00:00'),
 Timestamp('1966-01-06 00:00:00'),
 Timestamp('1966-01-07 00:00:00'),
 Timestamp('1966-01-10 00:00:00'),
 Timestamp('1966-01-11 00:00:00'),
 Timestamp('1966-01-14 00:00:00'),
 Timestamp('1966-01-17 00:00:00'),
 Timestamp('1966-01-18 00:00:00'),
 Timestamp('1966-02-09 00:00:00'),
 Timestamp('1967-05-04 00:00:00'),
 Timestamp('1967-05-05 00:00:00'),
 Timestamp('1967-05-08 00:00:00'),
 Timestamp('1967-07-31 00:00:00'),
 Timestamp('1967-08-01 00:00:00'),
 Timestamp('1967-08-02 00:00:00'),
 Timestamp('1967-08-04 00:00:00'),
 Timestamp('1967-09-13 00:00:00'),
 Timestamp('1967-09-14 00:00:00'),
 Timestamp('1967-09-15 00:00:00'),
 Timestamp('1967-09-18 00:00:00'),
 Timestamp('1967-09-21 00:00:00'),
 Timestamp('1967-09-22 00:00:00'),
 Timestamp('1967-09-25 00:00:00'),
 Timestamp('1968-04-29 00:00:00'),
 Timestamp('1968-05-02 00:00:00'),
 Timestamp('1968-05-03 00:00:00'),
 Timestamp('1968-05-07 00:00:00'),
 Timestamp('1968-05-08 00:00:00'),
 Timestamp('1968-06-03 00:00:00'),
 Timestamp('1968-06-04 00:00:00'),
 Timestamp('1968-06-06 00:00:00'),
 Timestamp('1968-06-07 00:00:00'),
 Timestamp('1968-06-10 00:00:00'),
 Timestamp('1968-06-11 00:00:00'),
 Timestamp('1968-07-08 00:00:00'),
 Timestamp('1968-07-09 00:00:00'),
 Timestamp('1968-07-11 00:00:00'),
 Timestamp('1968-09-24 00:00:00'),
 Timestamp('1968-09-30 00:00:00'),
 Timestamp('1968-10-01 00:00:00'),
 Timestamp('1968-10-03 00:00:00'),
 Timestamp('1968-10-04 00:00:00'),
 Timestamp('1968-10-08 00:00:00'),
 Timestamp('1968-10-17 00:00:00'),
 Timestamp('1968-10-18 00:00:00'),
 Timestamp('1968-10-21 00:00:00'),
 Timestamp('1968-11-13 00:00:00'),
 Timestamp('1968-11-14 00:00:00'),
 Timestamp('1968-11-15 00:00:00'),
 Timestamp('1968-11-18 00:00:00'),
 Timestamp('1968-11-19 00:00:00'),
 Timestamp('1968-11-22 00:00:00'),
 Timestamp('1968-11-25 00:00:00'),
 Timestamp('1968-11-26 00:00:00'),
 Timestamp('1968-11-27 00:00:00'),
 Timestamp('1968-11-29 00:00:00'),
 Timestamp('1972-03-06 00:00:00'),
 Timestamp('1972-03-07 00:00:00'),
 Timestamp('1972-03-08 00:00:00'),
 Timestamp('1972-04-05 00:00:00'),
 Timestamp('1972-04-06 00:00:00'),
 Timestamp('1972-04-07 00:00:00'),
 Timestamp('1972-04-11 00:00:00'),
 Timestamp('1972-04-12 00:00:00'),
 Timestamp('1972-05-24 00:00:00'),
 Timestamp('1972-05-25 00:00:00'),
 Timestamp('1972-05-26 00:00:00'),
 Timestamp('1972-08-08 00:00:00'),
 Timestamp('1972-08-09 00:00:00'),
 Timestamp('1972-08-10 00:00:00'),
 Timestamp('1972-08-11 00:00:00'),
 Timestamp('1972-08-14 00:00:00'),
 Timestamp('1972-11-01 00:00:00'),
 Timestamp('1972-11-02 00:00:00'),
 Timestamp('1972-11-03 00:00:00'),
 Timestamp('1972-11-14 00:00:00'),
 Timestamp('1972-11-16 00:00:00'),
 Timestamp('1972-11-17 00:00:00'),
 Timestamp('1972-11-20 00:00:00'),
 Timestamp('1972-11-21 00:00:00'),
 Timestamp('1972-11-22 00:00:00'),
 Timestamp('1972-11-24 00:00:00'),
 Timestamp('1972-12-01 00:00:00'),
 Timestamp('1972-12-04 00:00:00'),
 Timestamp('1972-12-06 00:00:00'),
 Timestamp('1972-12-07 00:00:00'),
 Timestamp('1972-12-08 00:00:00'),
 Timestamp('1972-12-11 00:00:00'),
 Timestamp('1973-01-03 00:00:00'),
 Timestamp('1973-01-05 00:00:00'),
 Timestamp('1973-01-11 00:00:00'),
 Timestamp('1980-07-17 00:00:00'),
 Timestamp('1980-07-18 00:00:00'),
 Timestamp('1980-07-21 00:00:00'),
 Timestamp('1980-08-07 00:00:00'),
 Timestamp('1980-08-08 00:00:00'),
 Timestamp('1980-08-11 00:00:00'),
 Timestamp('1980-08-14 00:00:00'),
 Timestamp('1980-08-15 00:00:00'),
 Timestamp('1980-08-22 00:00:00'),
 Timestamp('1980-09-03 00:00:00'),
 Timestamp('1980-09-16 00:00:00'),
 Timestamp('1980-09-17 00:00:00'),
 Timestamp('1980-09-19 00:00:00'),
 Timestamp('1980-09-22 00:00:00'),
 Timestamp('1980-10-06 00:00:00'),
 Timestamp('1980-10-13 00:00:00'),
 Timestamp('1980-10-15 00:00:00'),
 Timestamp('1980-11-12 00:00:00'),
 Timestamp('1980-11-13 00:00:00'),
 Timestamp('1980-11-14 00:00:00'),
 Timestamp('1980-11-17 00:00:00'),
 Timestamp('1980-11-18 00:00:00'),
 Timestamp('1980-11-20 00:00:00'),
 Timestamp('1980-11-28 00:00:00'),
 Timestamp('1982-11-03 00:00:00'),
 Timestamp('1982-11-09 00:00:00'),
 Timestamp('1983-01-06 00:00:00'),
 Timestamp('1983-01-10 00:00:00'),
 Timestamp('1983-02-07 00:00:00'),
 Timestamp('1983-02-10 00:00:00'),
 Timestamp('1983-02-11 00:00:00'),
 Timestamp('1983-02-14 00:00:00'),
 Timestamp('1983-02-24 00:00:00'),
 Timestamp('1983-02-25 00:00:00'),
 Timestamp('1983-03-01 00:00:00'),
 Timestamp('1983-03-02 00:00:00'),
 Timestamp('1983-03-03 00:00:00'),
 Timestamp('1983-03-04 00:00:00'),
 Timestamp('1983-04-11 00:00:00'),
 Timestamp('1983-04-12 00:00:00'),
 Timestamp('1983-04-13 00:00:00'),
 Timestamp('1983-04-14 00:00:00'),
 Timestamp('1983-04-15 00:00:00'),

In [75]:
# For each pair of consecutive all-time highs, find the minimum price in between
# For each pair of consecutive ATHs, find the minimum price in between
corrections = []

for i in range(len(new_ath_dates) - 1):
    ath_start = new_ath_dates[i]
    ath_end = new_ath_dates[i + 1]
    
    # Get the period between these two ATHs
    period_data = df.loc[ath_start:ath_end]
    
    # Find the minimum price in this period
    min_idx = period_data['Close'].idxmin()
    min_price = period_data['Close'].min()
    ath_price = period_data.loc[ath_start, 'Close']
    
    # Calculate drawdown percentage
    drawdown_pct = (min_price - ath_price) / ath_price * 100
    
    # Only include corrections with >= 5% drawdown
    if drawdown_pct <= -5.0:
        duration = (min_idx - ath_start).days
        corrections.append({
            'Peak_Date': ath_start,
            'Trough_Date': min_idx,
            'Duration_Days': duration,
            'Drawdown_Pct': abs(drawdown_pct)
        })

In [80]:
# Calculate percentiles for duration analysis
corrections_df = pd.DataFrame(corrections)
corrections_df

    Peak_Date Trough_Date  Duration_Days  Drawdown_Pct
0  1950-06-12  1950-07-17             35     14.020615
1  1950-11-24  1950-12-04             10      6.496062
2  1951-05-03  1951-06-29             57      8.110480
3  1951-10-15  1951-11-23             39      6.079668
4  1952-01-22  1952-02-20             29      6.366584
..        ...         ...            ...           ...
66 2020-09-02  2020-09-23             21      9.604455
67 2021-09-02  2021-10-04             32      5.212538
68 2022-01-03  2022-10-12            282     25.425097
69 2024-03-28  2024-04-19             22      5.464427
70 2024-07-16  2024-08-05             20      8.485144

[71 rows x 4 columns]

In [82]:

durations = corrections_df['Duration_Days']
durations

0      35
1      10
2      57
3      39
4      29
     ...
66     21
67     32
68    282
69     22
70     20
Name: Duration_Days, Length: 71, dtype: int64

In [83]:
percentile_25 = np.percentile(durations, 25)
percentile_25

np.float64(21.5)

In [84]:

median_duration = np.percentile(durations, 50)
median_duration

np.float64(39.0)

In [85]:

percentile_75 = np.percentile(durations, 75)
percentile_75

np.float64(89.0)